@font-face {
    font-family: "Fredoka";
    src: 
        url("./fonts/Fredoka-Light.woff2") format("woff2"),
        url("./fonts/Fredoka-Light.woff") format("woff");
}

@font-face {
    font-family: "Limelight";
    src: 
        url("./fonts/Limelight-Regular.woff2") format("woff2"),
        url("./fonts/Limelight-Regular.woff") format("woff");
}

:root {
    --background-color: rgba(247, 247, 247, 0.781);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Limelight", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    width: 100vw;
    height: 100vh;
    font-size: 16px;
}

h1 {
    padding: 10px 10px;
}

.main-container {
    display: grid;
    grid-template-rows: 100px 1fr;
    gap: 3px;
    height: 100%;
}

.header {
    text-align: center;
    font-size: 2rem;
    padding-top: 12px;
    background-color: white;
    box-shadow: 0 0 10px 5px gray;
}

.body {
    display: grid;
    grid-template-rows: 100px 1fr;
    background-color: var(--background-color);
}

.add-book-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.add-book-container > button {
    font-size: clamp(1rem, 2vw, 1.2rem);
    padding: 0.5em 1em;
}

.bookCard button.notRead {
    background-color: red;
}

.books-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    grid-auto-rows: 300px;
    gap: 50px;
}

.bookCard {
    width: 100%;
    border: 2px solid white;
    padding: 10px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 10px 3px skyblue;
    font-size: 1.3em;
    padding: 20px;
    transition: all 0.4s;
}

.bookCard:hover {
    transform: rotate(3deg);
}

.bookCard button {
    background-color: green;
    width: 120px;
    padding: 10px;
    font-size: 18px;
    border-radius: 12px;
    border: 1px solid lightpink;
    transition: 0.3s;
    cursor: pointer;
}

.bookCard button:hover {
    background-color: white;
    border: 1px solid green;
}

.bookCard button.notRead:hover {
    background-color: white;
    border: 1px solid red;
}

.bookCard li:last-of-type {
    justify-self: center;
}

.bookCard > ul {
    height: 100%;
    list-style: none;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

.bookCard > ul li {
    font-family: "Fredoka", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bookCard .remove-card-btn {
    justify-self: center;
    background-color: white;
    border: 1px solid lightslategrey;
    transition: all 0.4s;
}

button.remove-card-btn:hover {
    background-color: red;
    color: white;
    border: 1px solid white;
}

#add-book-modal[open] {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: beige;
    min-width: 270px;
    min-height: 300px;
    display: grid;
    grid-template-rows: 1fr;
    overflow: auto;
    border-radius: 5px;
}

#modal-content {
    padding: 20px;
}

#add-book-modal h2 {
    justify-self: center;
}

#add-book-form {
    display: grid;
    height: 100%;
    grid-template-rows: 30px repeat(3, 55px) 25px  55px;
    gap: 10px;
}

#add-book-form > button {
    font-size: 16px;
    width: 150px;
    height: 50px;
    justify-self: center;
}

.book-input-container:not(:last-of-type){
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.book-input-container > input,
.book-input-container {
    font-size: 16px;
}

.book-input-container > input {
    padding: 5px;
    border-color: white;
    border-radius: 12px;
}

#closeModal {
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 5px;
    width: 23px;
}

